<div class="bg bg-blue clearfix">
  <%= render_child_component_with_name(component, "cq-image") %>
  <div class="hero-text-box">
    <div class="h-text-no-cta">
      <%= render_child_component_with_name(component, "cq-text") %>
    </div>
    <div class="bullet-text">
      <%= render_child_component_with_name(component, "cq-text2") %>
    </div>
  </div>
</div>