<div class="form-modal">
    <div class="modal-heading">
		<%= render_child_component_if_exists_with_name(component, "cq-headings") %>
    </div>
    <div>
		<%= render_child_component_if_exists_with_name(component, "cq-container") %>
    </div>
</div>