<section class="comp-chart-simple-header">
  <div class="<%= component.background_color %>">
    <div class="comp-chart-simple-header-content-wrapper">
      <%= render_child_component_with_name(component, "cq-text-header") %>
    </div>
  </div>
</section>