<%= render_child_component_with_name(component, "cq-nav-promo") if component.has_child?("cq-nav-promo") %>
<section id="main">
    <%= render_child_component_with_name(component, "cq-hero") if component.has_child?("cq-hero") %>
    <%= render_child_component_with_name(component, "cq-hero-promo") if component.has_child?("cq-hero-promo") %>
    <div class="outer-container">
        <%= render_child_component_with_name(component, "cq-container") if component.has_child?("cq-container") %>
    </div>
</section>