<div class="modal-labor-law">
    <div class="modal-heading">
    	<%= render_child_component_if_exists_with_name(component, "cq-heading-labor") %>
    </div>
    <div class="body-container">
        <%= render_child_component_if_exists_with_name(component, "cq-body-labor") %>
    </div>
    <div class="footer-container">
    	<%= render_child_component_if_exists_with_name(component, "cq-footer-labor") %>
	</div>
</div>
