<% if !component.main_heading.blank? %>
    <h1><%= component.main_heading %></h1>
<% elsif !component.sub_heading.blank? %>
    <h2><%= component.sub_heading %></h2>
<% else %>
    <h2>Enter heading</h2>
<% end %>
