<div class="cimage clearfix">
  <%= cms_image_tag component.src, component.link_url, {:class => component.css_class << ' ' << component.img_class, :lazy_load => component.lazy_load, :alt => component.alt} , component.link_options  %>
</div>