<section class="ctabs-headings">
  <div class="row">
    <div class="span6 headings">
      <%= render_child_component_with_name(component, "cq-headings1") %>
    </div>
    <div class="span6 tabs">
      <%= render_child_component_with_name(component, "cq-tabs1") %>
    </div>
  </div>
</section>