<div class="chero-cta-box small-box">
  <%= render_child_component_with_name(component, "cq-text") %>
  <%= render_child_component_with_name(component, "cq-cta") %>
</div>
<div class="chero-cta-box-below small-box">
  <%= render_child_component_with_name(component, "cq-text2") %>
</div>
