<div class="modal-container info-modal">
  <%= render_child_component_if_exists_with_name(component, "cq-headings") %>
  <%= render_child_component_if_exists_with_name(component, "cq-container") %>
</div>