<section class="site-cooler-footer">
    <%= render_child_component_with_name(component, "cq-watercooler")%>
</section>
<section class="legal-footer">
    <%= render_child_component_with_name(component, "cq-legal-footer")%>
</section>