<div class="content-container">
  <div class="centering-box">
    <div class="chero-rt-just">
      <div class="row">
        <div class="span6">
          <%= render_child_component_with_name(component, "cq-cta") %>
        </div>
      </div>
    </div>
  </div>
</div>