{{#errors}}
<div style="color:red;font-size:16px;text-align:center;padding:10px 30px">{{error}}</div>
{{/errors}}
{{^errors}}
<section class="creviews-carousel rss {{background}}" itemscope="" itemtype="http://schema.org/Product">
    <div class="content-container">
        <div class="row">
            <div class="span8 offset2" itemprop="name">
                {{{render_child_component_carousel-header}}}
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="carousel-wrap">
                    <div class="row">
                        <div class="span10 offset1">
                            <div class="carousel-viewport">
                                <ul id="{{carousel_id}}-carousel" class="carousel-slides">
                                    {{#reviews}}
                                    <li>{{> harmony_cms/components/home/review_rss}}</li>
                                    {{/reviews}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    new Intuit.Library.Carousel.ReviewsCarousel('#{{carousel_id}}-carousel');
</script>
{{/errors}}