<section class="content-container cattachments">
    <div class="row">
        <div class="span4">
			<%= render_child_component_with_name(component, "item-1") %>
        </div>
        <div class="span4">
			<%= render_child_component_with_name(component, "item-2") %>
        </div>
        <div class="span4">
			<%= render_child_component_with_name(component, "item-3") %>
        </div>
    </div>
</section>
