<section class="cfeatures-saas" id="features">
  <%= render_child_component_if_exists_with_name(component, "features_carousel")%>
  <%= render_child_component_if_exists_with_name(component, "features2")%>
</section>


