 <div class="centering-box">
    <div class="chero-lt-just">
      <div class="row">
        <div class="offset7 span5">
          <%= render_child_component_with_name(component, "cq-text") %>
          <%= render_child_component_with_name(component, "cq-cta") %>
        </div>
      </div>
    </div>
  </div>