<section class="content-container cwhatsnew">
    <h2 class="section-header"><%= component.header %></h2>
    <div class="row">
      <% (1..4).each do |i| %>
		<div class="span3">
			<%= render_child_component_with_name(component, "image-#{i}") if component.has_child?("image-#{i}") %>
        </div>
		<% end %>
    </div>
	<div class="row">
      <% (1..4).each do |i| %>
        <div class="span3">
			<%= render_child_component_with_name(component, "text-#{i}") if component.has_child?("text-#{i}") %>
        </div>

      <% end %>
    </div>
</section>
