<div class="clineup-techspecs">
  <div class="row">
    <div class="span11 offset1">
      <%= render_child_component_with_name(component, "cq-p1") %>
    </div>
    <div class="span5 offset1">
      <%= render_child_component_with_name(component, "cq-text1") %>
    </div>
    <div class="span5">
      <%= render_child_component_with_name(component, "cq-text2") %>
    </div>
  </div>
</div>